.footer{
    background-color: green;
    color: white;
    padding: 15px 50px;
    font: inherit;
    font-size: 1.35em;
    width: 100%;
    bottom:0px;
    position: relative;
    overflow: -moz-hidden-unscrollable;
}

/*TODO: Footer fixed CSS*/